.explore-title {
    color: #4E5960;
    margin-left: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 1200px;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    display: inline-block;
    width: 300px;
    border-radius: 20px;
    height: 380px;
    border: 1px solid white;
    background-color: black;
    box-sizing: border-box;
    cursor: pointer;
}

.card:hover {
    border: 5px solid #8947B0;
    scale: 1.2;
}

.image-in__container {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    font-size: 25px;
    color: white;
    justify-self: center;
    text-align: center;
}

.description {
    width: 80%;
    justify-self: center;
}
